.register__input {
    width: 100%;
    background-color: black;
    color: #ccc;
    margin: 0 0 20px 0;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    height: 33px;
    line-height: 17px;
    font-weight: 400;
}