.popup__heading {
    max-width: calc(100% - 36px * 2);
    text-align: start;
    font-size: 24px;
    line-height: 1;
    font-weight: 900;
    margin: 0 auto 40px;
}

@media all and (max-width: 320px) {
    .popup__heading {
        max-width: calc(100% - 22px * 2);
        text-align: center;
        font-size: 18px;
        margin: 0 auto 62px;
    }
}