.popup__container {
    font-family: "Inter", "Arial", sans-serif;
    width: 100%;
    max-width: 430px;
    min-height: 330px;
    position: relative;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: auto;
    padding-top: 34px;
    padding-bottom: 37px;
    box-sizing: border-box;
}

@media all and (max-width: 520px) {
    .popup__container {
        max-width: calc(100% - 19px * 2);
        min-height: 322px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}