@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__user-edit/profile__user-edit.css);
@import url(./blocks/profile/__user-data/profile__user-data.css);
@import url(./blocks/profile/__heading/profile__heading.css);
@import url(./blocks/profile/__subheading/profile__subheading.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__element/cards__element.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__description/cards__description.css);
@import url(./blocks/cards/__heading/cards__heading.css);
@import url(./blocks/cards/__likes-container/cards__likes-container.css);
@import url(./blocks/cards/__like-button/cards__like-button.css);
@import url(./blocks/cards/__like-button/cards__like-button_active.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);
@import url(./blocks/cards/__remove-button/cards__remove-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_image-zoom/popup_image-zoom.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_place/popup__container_place_card.css);
@import url(./blocks/popup/__container/_place/popup__container_place_avatar.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/_place/popup__heading_place_avatar.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_place/popup__input-error_place_down.css);
@import url(./blocks/popup/__input-error/_place/popup__input-error_place_up.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_avatar-link.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_place/popup__submit-button_place_card.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-link/popup__image-link.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);